{% from '_macros/lib.twig' import img %}


<article class="w-card border border-border mr-4 mb-4  bg-white text-foreground hover:bg-gray-200 transition-colors shadow-lg">
    <a class="!no-underline flex flex-col justify-between h-full"
       href="{{ entry.url }}">
        <div>
            <div>
                {% set image = entry.featuredImage|one %}
                {% if not image %}
                    {% set image = siteInfo.featuredImage.one %}
                {% endif %}
                {% if image %}
                    {{ img(image, theme.cardImageTransform) }}
                {% endif %}
            </div>
            <div class="p-4">
                {% if entry.teaser %}
                    <div class="text-base mb-1">
                        {{ entry.teaser }}
                    </div>
                {% endif %}
                <div class="text-2xl">
                    {{ entry.title }}
                </div>
                <div class="text-base">
                    {% include "_sections/#{entry.section.handle}/card_content.twig" ignore missing %}
                </div>

                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="p-4">
            {% include "_sections/#{entry.section.handle}/card_bottom_content.twig" ignore missing %}
        </div>
    </a>
</article>
