{% set guide = craft.entries.section('guide').slug(entry.section.handle).one() %}

{% if guide %}
    <div class="data">
        {% set guideUrl = cpUrl("guide-ajax/#{guide.slug}") %}

        {% embed 'guide/modalbutton_ajax.twig' with {id:'showguide', caption:'Guide', url: guideUrl } %}
            {% block content %}
                Loading...
            {% endblock %}
        {% endembed %}

    </div>

{% endif %}


