{% switch theme.titleStyle %}

{% case "coverBoxed" %}

    {% include '_layouts/partials/titlearea_coverboxed.twig' %}



{% default %}

    {% if theme.titleStyle == 'textImage' %}
        <div class="px-8">
            {{ titleHtml|raw }}
        </div>
    {% endif %}

    <div>
        {{ titleImageHtml|raw }}
    </div>

    {% if theme.titleStyle != 'textImage' %}
        <div class="px-block {{ theme.titleStyle == 'fullTextColor' ? 'bg-title-bg text-title-text' }} py-4">
            {{ titleHtml|raw }}
        </div>
    {% endif %}

{% endswitch %}


