{% from '_macros/lib.twig' import img %}

<a href="{{ siteUrl }}">

    {% set image = theme.logoTransform ? siteInfo.logo.one : null %}
    {% if  image %}
        {{ img(image, theme.logoTransform, {loading: null}) }}
    {% else %}
        <div class="font-semibold">
            {{ siteInfo.siteName }}
        </div>
    {% endif %}


</a>
