{% if localizedEntries ?? [] %}
    {% for entry in localizedEntries %}
        <div>
            <a class="nav-link bg-primary text-secondary px-3 py-1 text-sm font-semibold rounded" href="{{ entry.url }}">{{ entry.site.language[:2] }}</a>
        </div>
    {% endfor %}
{% endif %}
