{% set entry = craft.entries.section('person').relatedTo(element).one %}

{% if entry %}
    <a class="btn submit" href="{{ entry.cpEditUrl }}">Edit Person Entry {{ entry.title }}</a>
{% else %}
    <a class="btn submit" href="{{ cpUrl('entries/person/new') }}">Create Person Entry</a>
{% endif %}
