<div id="{{ props.htmlId }}">
    {% include 'genericfields/reverse-relation-entries-list.twig' with {props} only %}
</div>

{# <a class="btn submit add icon"
   style="margin-top:48px"
   href="{{ cpUrl('entries/session/new', {site: element.site.handle, event: [element.id]}) }}"
   role="button"
   target="_blank">New session</a> #}

<button class="btn dashed add icon"
        style="margin-top:24px"
        type="button"
        onclick="createRelatedEntry({{ props|json_encode }})">
    {{ props.caption|t }}
</button>

{% js %}
function createRelatedEntry(props) {

    console.log(props)

    Craft.createElementEditor('craft\\elements\\Entry', {
        siteId: props.siteId,
        attributes: {
            sectionId: props.sectionId,
            typeId: props.typeId,
            authorId: props.userId,
            enabled: 1,
            [props.fieldHandle]: [props.elementId]
        },
        onHideHud: () => {
            refreshRelatedEntriesList(props)
        },
    })
}


function removeEntry(sourceId, task, props) {
    if (!confirm('Proceed with this action? ' + task)) {
        return
    }

    element = {
        task: task,
        sourceId: sourceId,
        targetId: props.elementId,
        siteId: props.siteId,
        field: props.fieldHandle
    }

    Craft.sendActionRequest('POST', 'genericfields/elements/remove-relationship', {
        data: element,
    }).then(ev => {
        console.log(ev)
        if (ev.data.success) {
            Craft.cp.displayNotice(ev.data.msg);
            refreshRelatedEntriesList(props)
        }

    });

}

function refreshRelatedEntriesList(props) {
    Craft.sendActionRequest('POST', 'genericfields/elements/get-related-entries-list-html', {
        data: {
            props: props
        },
    }).then(ev => {
        console.log(ev)
        document.getElementById('fields-' + props.htmlId).innerHTML = ev.data
    });
}
{% endjs %}

