<header>
    <div>
        {{ titleImageHtml|raw }}
    </div>
    <div class="bg-title-bg text-title-text  mb-12">
        <div class="container max-w-screen-{{ theme.pageWidth }} mx-auto pt-2 pb-4 px-8">
            {{ titleHtml|raw }}
        </div>
    </div>
</header>
