<header class="mb-12">
    <div class="container max-w-screen-{{ theme.headerWidth }} mx-auto  px-8">
        {{ titleImageHtml|raw }}
    </div>
    <div class="container max-w-screen-{{ theme.pageWidth }} mx-auto mt-8 px-8">
        {{ titleHtml|raw }}
    </div>
</header>
