<header class="container max-w-screen-{{ theme.headerWidth }} mx-auto mt-block mb-12 px-8">
    <div>
        {{ titleHtml|raw }}
    </div>
    <div class="mt-8">
        {{ titleImageHtml|raw }}
    </div>
</header>
