<header>
    <div>
        {{ titleImageHtml|raw }}
    </div>
    <div class="bg-title-bg text-title-text mb-12">
        <div class="container container-{{ theme.pageWidth }} pt-2 pb-4">
            {{ titleHtml|raw }}
        </div>
    </div>
</header>
