{% import '_members/macros/forms.twig' as forms %}
<div class="mt-8 sm:w-full sm:max-w-md">
    <div class="">
        <form sprig s-method="post" s-action="users/send-password-reset-email" s-indicator="#spinner" class="space-y-6">
            <div>
                <label for="email" class="block text-sm font-medium text-gray-700">
                    {{ 'Your Account Email Address'|t }}
                </label>
                <div class="mt-1">
                    <input class="w-full" id="email" name="loginName" type="email" autocomplete="email"  required value="">
                </div>
            </div>
            <div>
                {{ forms.button('Request Password Reset'|t, true) }}

                {% if errors is defined %}
                    <div class="rounded-lg bg-red-50 p-4 mt-4 border-2 border-red-100">
                        <div class="flex">
                            <div class="ml-3">
                                {{ forms.errorsList(errors) }}
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% if success is defined and success %}
                    <div class="rounded-lg bg-green-50 p-4 mt-4 border-2 border-green-100">
                        <div class="flex">
                            <div class="ml-3">
                                <p class="text-sm font-medium text-green-800">
                                    {{ 'We just sent an email to your account email address. Use the link in the email to reset your password.'|t }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
</div>
