<?php

namespace config;

class Env extends \modules\main\Env
{
    // dev/staging/production
    const ENVIRONMENT = 'dev';

    const APP_ID = 'Craft_Theme';

    // https://randomkeygen.com/
    const SECURITY_KEY = 'NdP=RLp.{;JYzNWB$q2tO!c}<d4.@*9AvnRE?S8X95f4N}#Yvh$/T.<#pINI3G@';

    const DB_DRIVER = 'mysql';
    const DB_SERVER = 'localhost';
    const DB_PORT = '3306';

    const DB_DATABASE = '';
    const DB_SCHEMA = ''; // Postgres only
    const DB_TABLEPREFIX = '';

    const DB_USER = 'root';
    const DB_PASSWORD = '';

    // http://localhost:8080 can be used for embeded server: php craft serve
    const DEFAULT_SITE_URL = 'http://localhost:8080';

    // Available in Control Panel as environment variables, e.g. $SYSTEM_NAME
    const CP_VARIABLES = [
        'SYSTEM_NAME' => '',
        'SYSTEM_TIMEZONE' => 'Europe/Berlin',

        'EMAIL_ADDRESS' => 'support@example.com',
        'EMAIL_SENDER' => 'Support Team',

        'SMTP_HOST' => '',
        'SMTP_PORT' => '2525',
        'SMTP_AUTHENTICATION' => '1',
        'SMTP_USER' => '',
        'SMTP_PASSWORD' => '',
        'SMTP_ENCRYPTION_METHOD' => 'tls',

        'GOOGLE_API_KEY' => '',
    ];



}
