{% extends "_layouts/main.twig" %}

{% block page %}

    <div class="py-4">
        <div class="container max-w-screen-{{ theme.pageWidth }} mx-auto bg-background">
            <header class="px-8 py-6">
                {{ navbarHtml|raw }}
            </header>

            <main id="content" class="{{ theme.stickyNavbar ? 'scroll-mt-24' }}">
                {% include '_layouts/partials/frame_titlearea.twig' %}

                <div class="py-4">
                    <div class="mt-block">
                        {% block beforeContent %}{% endblock %}
                        {{ block('content') }}
                        {% block afterContent %}{% endblock %}
                    </div>
                </div>
            </main>

            <footer class="mt-8 py-4 px-8 border-t border-border">
                {% include '_layouts/partials/footer.twig' %}
            </footer>

        </div>

    </div>

{% endblock %}

