{% set headings = blocks|filter(b => b.type.handle == 'heading') %}

{% if headings %}
    <div class=""
         x-data="{open: false}">

        <div class="bg-white {{ theme.useProse ? 'max-w-prose' }} p-4 border border-border"
             @keydown.down.prevent="$focus.next()"
             @keydown.up.prevent="$focus.previous()">

            <button class="w-full"
                    @click="open = !open">

                <div class="flex justify-between">
                    <div class=" font-semibold" type="button">
                        {{ 'Table of Content'|t }}
                    </div>
                    <div class="ml-4">
                        <svg fill="currentColor" viewBox="0 0 20 20"
                             :class="open ? 'rotate-180' : 'rotate-0'"
                             class="inline w-6 h-6 transform transition-transform">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
            </button>
            <div class="text-base" x-show="open"  x-collapse>
                {% for heading in headings %}
                    <div class="pt-2">
                        <a class="!no-underline" href="#block-{{ heading.id }}">{{ heading.heading }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endif %}
