{% set headings = blocks|filter(b => b.type.handle == 'heading') %}

{% if headings %}
    <div class="bg-white {{ theme.useProse ? 'max-w-prose' }} p-4 border border-border">
        {% embed '_layouts/components/dropdown.twig' with {buttonFullWidth: true, overlay: false} %}

            {% block buttonText %}
                <div class="font-bold">
                    {{ 'Table of Content'|t }}
                </div>
            {% endblock %}

            {% block panel %}
                {% for heading in headings %}
                    <div class="pt-2">
                        <a class="!no-underline" href="#block-{{ heading.id }}">{{ heading.heading }}</a>
                    </div>
                {% endfor %}
            {% endblock %}

        {% endembed %}
    </div>

{% endif %}
