{% set snapshot = element.snapshot|json_decode %}

{% for key, value in snapshot %}
    <div style="margin-bottom: 24px;">
        <h2>
            {{ key|ucfirst }}
        </h2>
        <div>
            {{ value|nl2br }}
        </div>
    </div>
{% endfor %}
